.home-page {
  & header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    & button {
        filter: drop-shadow(5px 5px 5px rgba($dark-green, 0.5));
    }
  }
  &-header-div {
    width: 50%;
    & h1 {
      margin-bottom: 20px;
      & span:nth-child(2) {
        display: block;
      }
    }
  }
  & .actions {
    margin-top: 40px;
  }
  & .span-link {
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
  }
  & h1 {
    font-size: 4rem;
  }

  & img {
    filter: drop-shadow(10px 10px 5px rgba($dark-green, 0.5));
  }
}
