button {
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: 0;
    padding: 5px 8px;
    &:hover {
        cursor: pointer;
    }
}

.green {
    background-color: $dark-green;
    color: $white;
}

.blue {
    background-color: blue;
    color: $white;
}

.big {
    padding: 10px 16px;
}